.country-info {
  text-align: center;
  padding: 10px;
  margin: 20px;
  border: 1px solid rgb(116, 79, 79);
  border-radius: 8px;
  width: 90%;
  background-color: rgb(80, 85, 82);
  margin-left: 70px;
  box-shadow: 1px 1px 15px 1px;
  color: white;
  background-image: url('../../images/covid-2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.country-info > * {
  padding: 10px;
}

.count-info> * {
  padding: 5px;
  font-weight: bold;
}

.country-card {
  background-image: url('../../images/covid-1.jpg');
}

.back-btn {
  color: white;
}

.fetch-data {
  text-align: center;
}

html {
  height: 100%;
}

body {
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@media (max-width: 768px) {
  .country-info {
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    width: 80%;
    background-color: rgb(80, 85, 82);
    margin-left: 28px;
    margin-top: 50px;
    box-shadow: 1px 1px 15px 1px;
    color: white;
  }

}