*,
::before,
::after,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.list-page {
  background-image: url('./images/covid.jpeg');
  background-position: right -30px;
}

.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  padding: 10px;
}

.card {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  margin-right: 50px;
}

.country-card {
  flex:1 1 auto;
  width:28%;
  border: 1px solid gray;
  margin: 15px;
  background-color: rgb(72, 75, 74);
  box-shadow: 2px 1px 7px 2px;
  text-align: center;
  color: white;
}

.progress-bar {
  display: flex;
  margin-left: 180px;
}

.m-top {
  margin-top: -10px;
  font-weight: bold;
}

.more-info {
  width: 30xpx;
  height: 20px;
}

.more-btn {
  background: white;
  border: 3px solid white;
  margin: 5px 0.5px 0.5px 420px;
  width: 30px;
  border-end-end-radius: 10px;
  box-shadow: 1px 1px 1px 1px;

}

@media (max-width: 768px) {
  .more-btn {
    background: rgb(245, 243, 243);
    border: 3px solid rgb(255, 253, 253);
    margin-left: 250px;
    border-end-end-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
  }

  .progress-bar {
    display: flex;
    margin-left: 100px;
  }

  .country-card {
    flex:1 1 auto;
    width:100%;
    border: 1px solid gray;
    margin: 15px;
    margin-left: 50px;
    background-color: rgb(72, 75, 74);
    box-shadow: 2px 1px 7px 2px;
    text-align: center;
    color: rgb(255, 250, 250);
  }

  .page-heading {
    color: black;
  }
}